<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>

        body{
            background-color: yellow;
            text-align: center;

        }

        p{
            color: red;
            text-align: center;
            font-size: 40px;
        }
 /* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
    </style>
</head>
<body>
    <!-- Jinja2 template syntax -->
    <!-- {{variable }} -->
    <p>{{ data }}</p>


    <div class="pagelinks">
        <a href="{{ url_for('welcome') }}">WELCOME PAGE</a>  <br>
        <a href="{{ url_for('login') }}">LOGIN</a> <br>
        <a href="">CONTACT US </a> <br>
        <a href="">ABOUT US</a> <br>
    </div>
</body>
</html>